<%- include("partials/header"); -%>
    

    <h1> Login </h1>

<form action="/users/login" method="POST">
<div class="container log">
<label for="email">Email</label>
<input
type="email"
name="email"
placeholder="Enter Email"
/>


    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Enter Password"
    />


    <button type="submit" class="btn btn-primary btn-block">Login</button>

<strong> Please Note : This page is still under updation  ..... Soon you will be able to login ! Sorry for Incovinience </strong> 



    </div>



</div>



   
</form> 
<%- include("partials/footer"); -%>
