<%- include("partials/header"); -%>

 <link rel="stylesheet" href="/css/sign.css">
 
    <br> 
    <br> 
    <br> 
    <div class="container" > 
        <div class="row"> 
        <div class="col-md-3"> 
        </div> 
                  
        <div class="col-md-6 main"> 
                      
            <h1> Signup Successful</h1> 
            <h2>    Dont Worry ! We have saved you details soon we will be providing you your login credentials </h2>
                      
        </div> 
                  
                  
        <div class="col-md-3"> 
        </div> 
                  
        </div> 
    </div> 

<%- include("partials/footer"); -%>
